openapi: 3.1.0
info:
  title: ECHOHUB API
  description: >-
    API Endpoints for the ECHOHUB B2B clients.

        SandBox url: https://sandbox.echohealthincapi.com/
        Production Url : https://api.echohealthincapi.com/

    # Authentication

    Authentication is a process by which a system verifies the identity of a
    user accessing this API.       

    <!-- ReDoc-Inject: <security-definitions> -->
  version: v1

  contact:
    name: ECHO Health Inc.
    email: Echo.Hub@echohealthinc.com

security: 
  -  {}
servers:
  - url: https://sandbox.echohealthincapi.com
  - url: https://api.echohealthincapi.com

paths:
  #Authorization
  /GetToken:
    $ref: paths/Authentication/api@RequestAuthentication@V1.yaml
  
  

  #B2B Portal
  /eCheckPDF:
    $ref: paths/B2B/api@B2B@v1@Portal@eCheckPDF.yaml
  /api/B2B/v1/Portal [Portal Login]:
    $ref: paths/B2B/api@B2B@v1@Portal@PortalLogin.yaml
  /api/B2B/v1/Portal [On Demand eCheck]:
    $ref: paths/B2B/api@B2B@v1@Portal@OnDemandeCheck.yaml
  /api/B2B/v1/Portal [Email Notification]:
    $ref: paths/B2B/api@B2B@v1@Portal@EmailNotification.yaml
  /api/B2B/v1/Portal [Get Business Account Profile]:
    $ref: paths/B2B/api@B2B@v1@Portal@GetBusinessAccountProfile.yaml
  /api/B2B/v1/Portal [Update Business Account]:
    $ref: paths/B2B/api@B2B@v1@Portal@UpdateBusinessAccount.yaml
  /api/B2B/v1/Portal [Enroll eCheck PDF]:
    $ref: paths/B2B/api@B2B@v1@Portal@PaymentSelection.yaml
  /api/B2B/v1/Portal [Get User Profile]:
    $ref: paths/B2B/api@B2B@v1@Portal@GetUserProfile.yaml
  /api/B2B/v1/Portal [Update User Profile]:
    $ref: paths/B2B/api@B2B@v1@Portal@UpdateUserProfile.yaml
  /api/B2B/v1/Portal [Register User]:
    $ref: paths/B2B/api@B2B@v1@Portal@RegisterUser.yaml
  /api/B2B/v1/Portal [Validate User]:
    $ref: paths/B2B/api@B2B@v1@Portal@ValidateUser.yaml
  /api/B2B/v1/Portal [Change Password]:
    $ref: paths/B2B/api@B2B@v1@Portal@ChangePassword.yaml
  /api/B2B/v1/Portal [Wyziwig Form]:  
    $ref: paths/B2B/api@B2B@v1@Portal@WyziwigForm.yaml

  
components:
  securitySchemes:
    x-ApiKey:
      type: apiKey
      name: x-ApiKey
      description: The API key
      in: header
    x-ClientKey:
      type: apiKey
      description: The Client key
      name: x-ClientKey
      in: header

tags:
  #Authorization
  - name: Authorization
    description: |
      This endpoint helps to generate the Authorization Token for accessing the endpoints.
  

  #B2B
  - name: B2B Portal
    description: |
      B2B application portal helps process payments from one business (Payor) to another business (Payee). However, B2B only initiates the payment processing and issues the payments through third-party services.   

      When the payee receives a virtual card payment and desires to have a different form of payment, they can visit the portal and verify with their tax ID and payment draft number and create an account. Once logged into the portal, the user can select from payment modality options such as virtual cards, ACH deposit to a checking account, Direct to Debit card push, early (for a fee), and regular electronic checks for instant printing and deposit.   

      In addition, the consumer is offered features like account and user management, payment and account activity history, and payment preferences specific to a payor. If in case, a payment notification is not acted on in a timely manner, the payment will drop to a paper check to ensure payment delivery.

 